<section class="section section_lead" id="lead">
  <div class="container">

    <div class="vertical_align">
      <div class="vertical_align__row">
        <div class="vertical_align__cell">

          <h1 class="section_title">Unlock Your Wallet</h1>
          <h2 class="section_subtitle">
            The new Lykke Card: the quickest way to
            <br>access your new assets
          </h2>

          <div class="section_img">
            <img src="images/card_hero@2x.jpg" class="floating" width="1450" alt="card">
          </div>

          <form class="form form_request">
            <div class="form_group">
              <input type="text" class="form-control" placeholder="Enter your email">
              <!--<div class="hint hint&#45;&#45;error">Error text</div>-->
            </div>
            <div class="form_group">
              <button class="btn btn-block btn--primary">I want my Lykke Card fo free</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="link_scroll_down">Scroll down</div>
</section>