.section_lead {
  height: auto;

  &--cards {
    h2 {
      margin-top: 40px;
      margin-bottom: 46px;
      font-weight: bold;
    }
  }

  @include break-max(medium) {
    &--cards {
      h2 {
        margin-top: 0;
      }
    }
  }
}

.card_list {
  position: relative;
  padding-top: 100px;
  width: 540px;
  max-width: 100%;
  margin: 0 auto;

  @include break-max(medium) {
    width: 400px;
    padding-top: 0;
  }
}

.slick-prev,
.slick-next {
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 54px;
  border-radius: 100px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 22px;
  left: 50%;
  margin-top: 0;
  transform: none;

  &:before {
    font-family: 'icon';
    display: inline-block;
    font-size: 22px;
    opacity: 1;
  }

  &.slick-disabled {
    opacity: .3;
    cursor: default;
  }

  @include break-max(medium) {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 42px;
    display: none;

    &:before {
      font-size: 18px;
    }
  }
}

.slick-prev {
  margin-left: -70px;

  &:before {
    content: "\e92a";
  }

  @include break-max(medium) {
    margin-left: -50px;
  }
}

.slick-next {
  margin-left: 20px;

  &:before {
    content: "\e929";
  }

  @include break-max(medium) {
    margin-left: 10px;
  }
}

.slick-list {
  overflow: visible;
}

.card_item {
  width: 580px;
  padding: 0 20px;
  max-width: 100%;
  margin-bottom: 40px;
  perspective: 1000px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @include break-max(medium) {
    width: 400px;
    margin-bottom: 20px;
  }

  @include break-max(mobile) {
    width: 290px;
    padding: 0 10px;
  }
}

.card_preview {
  position: relative;
  width: 500px;
  max-width: 100%;
  transform-style: preserve-3d;

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    text-align: left;
  }

  &__image {
    max-width: 100%;
  }

  &__label {
    top: 20px;
    left: 20px;
    position: absolute;
  }

  &__date {
    font-size: 18px;
    color: rgba(#fff, .6);
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 5px;
  }

  &__name {
    font-weight: getFontWeight(semibold);
    font-size: 22px;
    color: #fff;
    letter-spacing: 0;
    line-height: 35px;
    margin-top: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__front {
    backface-visibility: hidden;
    z-index: 2;
    position: relative;
    transform: rotateY(0deg);
    transition: 0.6s;
  }

  &__back {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    text-align: left;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 0.6s;

    &:before {
      content: '';
      background-image: linear-gradient(to bottom, rgba(241, 245, 255, 0.8), rgba(241, 245, 255, 0.6) 98%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      opacity: .1;
    }

    .back_title {
      font-size: 26px;
      font-weight: bold;
      line-height: 1.35;
      text-align: left;
      color: #ffffff;
      font-family: $font-stack;
      margin-bottom: 7px;
    }

    .back_text {
      font-size: 18px;
      line-height: 1.67;
      text-align: left;
      color: #ffffff;
      margin-bottom: 30px;
    }

    .control-label {
      opacity: 0.6;
      font-size: 16px;
      line-height: 1.88;
      text-align: left;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 10px;
    }
    
    .relative {
      @util clearfix;
      
      &__input {
        width: auto;
        overflow: hidden;
        padding-right: 20px;
      }
    }
  }

  &--flipped {
    .card_preview__front {
      transform: rotateY(-180deg);
    }

    .card_preview__back {
      transform: rotateY(0deg);
    }
  }

  @include break-max(medium) {
    &__info,
    &__back {
      padding: 20px;
    }

    &__back {
      .back_title {
        font-size: 18px;
      }

      .back_text {
        font-size: 14px;
        margin-bottom: 15px;
      }

      .control-label {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    &__name {
      font-size: 14px;
      line-height: normal;
      margin-top: 10px;
    }

    &__date {
      font-size: 12px;
      line-height: normal;
    }
  }

  @include break-max(mobile) {
    &__info,
    &__back {
      padding: 15px;
    }

    &__back {
      .back_title {
        font-size: 16px;
      }

      .back_text {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .control-label {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .form-control {
        height: 30px;
        padding: 5px 10px;
      }

      .relative__input {
        padding-right: 10px;
      }

      .btn {
        font-size: 12px;
        padding: 8px 15px 5px;
      }
    }

    &__name {
      font-size: 12px;
      margin-top: 5px;
    }

    &__date {
      font-size: 10px;
      margin-top: 0;
    }

    .label {
      line-height: normal;
      font-size: 10px;
      padding: 4px 8px 3px;
    }

    &__label {
      top: 15px;
      left: 15px;
    }
  }
}

.card_mask {
  &__group {
    font-weight: getFontWeight(semibold);
    font-size: 38px;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;
    letter-spacing: .11em;

    &--fill {
      font-size: 22px;
      letter-spacing: 0;
    }
  }

  @include break-max(medium) {
    &__group {
      font-size: 26px;
      line-height: 26px;
      margin-right: 10px;

      &--fill {
        font-size: 18px;
      }
    }
  }

  @include break-max(mobile) {
    &__group {
      &--fill {
        font-size: 14px;
      }
    }
  }
}

.card_actions {
  width: 500px;
  max-width: 100%;
  padding: 38px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;

  .slick-active & {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    opacity: .3;
    font-weight: getFontWeight(semibold);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0 4px;
    transition: opacity $transition;

    &:hover {
      opacity: .6;
    }

    &--active {
      opacity: 1;

      &:hover {
        opacity: 1;
      }
    }

    .icon {
      font-size: 30px;
      margin-right: 4px;

      &--pay {
        font-size: 22px;
      }
    }

    a {
      color: inherit;
      padding: 10px 14px;
    }
  }

  @include break-max(medium) {
    padding: 20px 0;
    white-space: nowrap;

    &__item {
      font-size: 12px;
      margin: 0;

      .icon {
        font-size: 24px;

        &--pay {
          font-size: 16px;
        }
      }

      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @include break-max(mobile) {
    white-space: normal;
  }
}

.section {
  &--card_form {
    .section_title {
      font-family: $font-stack;
      font-size: 40px;
      color: #111111;
      letter-spacing: -0.4px;
      line-height: 50px;
      margin-bottom: 55px;
    }

    .h3, h3 {
      margin-bottom: 35px;
      margin-top: 60px;

      &:first-child {
        margin-top: 0 !important;
      }
    }

    .control-label {
      color: #111111;
      font-size: 16px;
      line-height: 24px;
    }

    .col-md-4 .control-label {
      letter-spacing: 0;
      padding-right: 10px;
      padding-top: 4px;
    }
  }

  @include break-max(medium) {
    &--card_form {
      .h3, h3 {
        margin-bottom: 10px;
        margin-top: 30px;
      }
    }
  }
}

.radio-group {
  margin-bottom: 30px;
}

.radio--plate {
  .icon {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .control-label {
    padding: 32px;
  }

  .hint {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    text-align: center;
  }

  .radio__title {
    font-weight: getFontWeight(semibold);
  }

  @include break-max(mobile) {
    overflow: visible;

    .control-label {
      padding: 15px;
    }

    .hint {
      bottom: auto;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 5px !important;
      font-size: 10px !important;
      line-height: normal !important;
    }
  }
}

.radio {
  &__title {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 25px;
    display: block;
  }

  .hint {
    font-size: 14px;
    color: #8C94A0;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.btn-block {
    margin-bottom: 10px;

    .hint {

    }
  }

  @include break-max(mobile) {
  }
}

.form-group {
  margin-bottom: 30px;

  > .hint {
    margin-bottom: 0 !important;
    margin-top: 0;
  }

  @include break-max(mobile) {
    > .hint {
      font-size: 12px;
      line-height: 24px;
    }
  }
}

.form-control.radio__label {
  padding-right: 20px;
}

.total {
  width: 350px;
  max-width: 100%;
  float: right;
  margin-bottom: 40px;

  &__header {
    border-bottom: 1px solid #EBEDEF;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__price {
    font-weight: bold;
    font-family: $font-stack;
    font-size: 26px;
    color: #111111;
    letter-spacing: 0;
    line-height: 35px;
    float: right;
    margin-bottom: 8px;
  }

  &__title {
    font-weight: bold;
    font-family: $font-stack;
    font-size: 26px;
    color: #111111;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 8px;
    overflow: hidden;
  }

  &__hint {
    font-size: 16px;
    color: #8C94A0;
    letter-spacing: 0;
    line-height: 24px;
  }

  .checklist {
    .checkbox {
      margin-bottom: 15px;

      .btn {
        padding: 0;
        font-size: 16px;
        color: #0388EF;
        line-height: normal;
      }

      .control-label {
        font-size: 18px;
        color: #333333;
        letter-spacing: 0;
        line-height: normal;

        span {
          text-decoration: none;
          display: block;
        }

        &:before {
          opacity: 0.4;
          border: 2px solid #657180;
        }

        &:after {
          color: #fff;
          font-size: 18px;
        }
      }

      &--checked {
        .control-label {
          &:before {
            background-color: #13B72A;
            border-color: #13B72A;
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    float: none;
    width: 100%;
    margin-top: 40px;
  }
}