.table {
  width: 100%;
  font-size: getFontSize(big);
  color: getColor(text);
  letter-spacing: 0;
  line-height: 1.5;
  text-align: left;
  border-collapse: separate;
  margin-bottom: 60px;

  tr {
    th, td {
      line-height: 1.6;
      padding: 22px 20px;
      border-bottom: 1px solid rgba(getColor(secondary), .04);
      transition: background-color $transition;
    }

    th {
      font-family: $font-stack;
      font-size: getFontSize(h3);
      font-weight: getFontWeight(bold);
      color: getColor(dark);
      letter-spacing: 0;
      line-height: 1.5;
    }

    &:hover td {
      background-color: rgba(getColor(white), .6);
    }
  }

  @include break-max(tablet) {
    font-size: 14px;
    line-height: normal;

    tr th {
      font-size: 16px;
    }

    tr:hover td {
      background-color: transparent;
    }
  }
}

.text-hint {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(getColor(secondary), .6);
}

.table_fees {
  @include break-max(medium) {
    tbody {
      &._first {
        border-top: 0;
      }
    }
  }
}

.table_fees,
.table_limits {
  ._fees {
    width: 400px;
  }

  ._cur {
    text-align: left;
  }

  ._title {
    display: none;
  }

  .visible-small {
    display: none;
  }

  ._th_title {
     th {
       border-bottom: 0;
     }
  }

  ._th_subtitle {
    border-top: 0;

    td {
      padding-top: 0 !important;
    }
  }

  @include break-max(medium) {
    display: block;
    
    tbody, tr, td {
      display: block;
      text-align: left;
    }

    tbody {
      margin-bottom: 15px;
      padding-top: 10px;
      border-top: 1px solid rgba(getColor(secondary), .04);
    }

    tr {
      th, td {
        padding: 4px 10px;
      }

      td {
        border: 0;

        @util clearfix;
      }
    }

    .hidden-small {
      display: none;
    }

    .visible-small {
      display: block;
    }

    ._fees {
      font-family: $font-stack;
      font-size: 16px;
      font-weight: getFontWeight(bold);
      color: getColor(dark);
      white-space: normal;
      width: 100%;
    }

    ._title {
      color: rgba(63, 77, 96, 0.8);
      float: left;
      width: 50%;
      display: block;
    }

    ._value {
      float: left;
      width: 50%;
    }

    ._cur {
      text-align: left;
    }
  }
}

.table_limits {
  @include break-max(medium) {
    ._cur {
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }

    ._type {
      padding-left: 21%;

      ._title + ._title {
        padding-left: 10px;
      }
    }

    th._fees {
      border-bottom: 0;
    }

    ._value {
      float: none;
    }

    ._title_cur {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      color: rgba(63, 77, 96, 0.8);
    }

    ._fees {
      overflow: hidden;

      &:after {
        content: '';
        display: none;
      }
    }
  }
}