<section class="section section_about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="accent">Lykke just made life easier, again. Introducing Lykke Card.</p>
        <p class="accent">Your passport to your Lykke Wallet, wherever Visa or MasterCard is accepted.</p>

        <p class="lead">Not sure how to get started with Lykke Card? Contact us at <a href="mailto:support@lykke.com">support@lykke.com</a>, we are there ready to help.</p>

        <hr>

        <h3>Easily access your equity.</h3>
        <p class="text-muted">You’ve made money, now enjoy it! The new Lykke Card gives you free and clear access to the funds in your Lykke Wallet. It puts all of your currencies in your hands.</p>

        <div class="counter">
          <span class="counter__accent">648</span>
          /1,000 free cards
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section_img section_img--phone">
          <img src="images/phone_app.png" class="floating_phone" width="596" alt="phone">
        </div>
        <div class="section_img section_img--card">
          <img src="images/card.png" class="floating_card" width="375" alt="card">
        </div>

        <div class="text-center">
          <a
            data-fancybox href="https://www.youtube.com/watch?v=Le3b6km81uc&feature=youtu.be"
            class="fancybox_link btn btn--flat btn_open_video"
            >
            <img src="images/play_icn.svg" alt="play" width="40" height="40">
            Watch video
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
