<section class="section section_features" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-10 automargin">

        <div class="section_header">
          <div class="section_icon"><img src="images/features_icn.svg" width="72px" alt="features"></div>
          <div class="hint">Features</div>
          <div class="section_title">Features of LykkeCard</div>
        </div>

        <div class="list list_features">
          <div class="list_row row">
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">Easily access your equity.</h3>
              <div class="list_item__text">You’ve made money, now enjoy it! The new Lykke Card gives you free and clear access to the funds in your Lykke Wallet. It puts all of your currencies in your hands.</div>
            </div>
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">Shop. Play. Treat.</h3>
              <div class="list_item__text">Surprise your mother with a full tank of gas. Take your nephew to the movies. Send flowers to your boss. Lykke Card can be used to purchase anything, anywhere Visa or MasterCard are accepted — in stores, online, and via mobile.</div>
            </div>
          </div>
          <div class="list_row row">
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">Travel anywhere and feel like a local.</h3>
              <div class="list_item__text">Get your hands on local currency at millions of ATMs worldwide. Wherever you see the Visa/MasterCard stickers, your Lykke funds are in reach. For business and pleasure.</div>
            </div>
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">Trade up to the lowest exchange rates.</h3>
              <div class="list_item__text">Lykke Card holders enjoy the lowest friction in the industry. Lykke’s proprietary Alpha Engine guarantees the best exchange rates possible, saving you money on every purchase.</div>
            </div>
          </div>
          <div class="list_row row">
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">SWIFT is SLOW…</h3>
              <div class="list_item__text">... and Lykke Card is like cash with wings. Send money faster and more easily than ever with Lykke Card. Forget about those clunky bank codes and smile while your money zips to its destination.</div>
            </div>
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">24/7 + 360º = 8-)</h3>
              <div class="list_item__text">Manage your account, monitor your activity, and track your purchases via the Lykke Card mobile phone app. Anytime. Anywhere.</div>
            </div>
          </div>
          <div class="list_row row">
            <div class="list_item col-xs-6">
              <h3 class="list_item__title">Safe and secure.</h3>
              <div class="list_item__text">Lykke Wallet and Lykke Exchange are trusted by traders and investors worldwide. The pioneering Lykke Card is protected by Visa and MasterCard suite of security features, including fraud detection and zero liability. Even better, Lykke uses rock solid blockchain technology for audit trails.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>