<section class="section section_lead section_lead--authorized" id="lead">
  <div class="container">

    <div class="vertical_align">
      <div class="vertical_align__row">
        <div class="vertical_align__cell">

          <div class="row">
            <div class="col-md-7">
              <h1 class="section_title">Unlock Your Wallet</h1>
              <h2 class="section_subtitle">
                The new Lykke Card: the quickest way<br> to access your new assets
              </h2>

              <div class="section_img">
                <img src="images/card_hero_visa.jpg" class="floating" width="600" alt="card">
              </div>

              <div class="checklist">
                <div class="checkbox checkbox--checked">
                  <label class="control-label">
                    <span>You passed KYC</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <span>First friend passed KYC</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label class="control-label">
                    <span>Second friend passed KYC</span>
                  </label>
                </div>
              </div>

              <div class="counter">
                <span class="counter__accent">648</span> /1,000 free cards
              </div>


              <div class="card_success">
                <h3>Your free Lykke MasterCard is on the way!</h3>

                <div class="counter counter--small">
                  <span class="counter__accent">648</span>&nbsp;People ahead
                  <br class="visible-xs">
                  <span class="counter__accent">352</span>&nbsp;People behind
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="text-left">
                <h3>Share link and get free card</h3>
                <p>Would you like to be one of 1000 Lykke community members to get a Lykke MasterCard for free?</p>
                <p>Simply invite two of your friends to download the free Lykke Wallet app and complete our easy KYC process. Once we’ve welcomed them into the Lykke community, we’ll send you your free Lykke MasterCard.</p>
                <p>If you aren’t yet a member of our community, now is the perfect time to sign up. Download your free Lykke Wallet app and complete our KYC to get started. You’ll be eligible for our free Lykke MasterCard promotion, so share the Lykke love with any two of your friends.</p>

                <form class="form form_share_invite">
                  <div class="form_group">
                    <label for="code" class="control-label">Share your invite code</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="code" readonly value="ddde2e323">
                      <button type="button" class="btn btn--icon input-group-addon btn_copy" data-clipboard-target="#code">
                        <i class="icon icon--copy_thin"></i>
                      </button>
                    </div>
                  </div>

                  <script async src="https://static.addtoany.com/menu/page.js"></script>
                  <div class="share a2a_kit a2a_default_style">
                    <a class="share_item a2a_button_facebook">
                      <i class="icon icon--fb_simple"></i>&nbsp;Share
                    </a>
                    <a class="share_item a2a_button_twitter">
                      <i class="icon icon--tw"></i>&nbsp;Tweet
                    </a>
                    <a href="#send" data-toggle="modal" class="share_item" >
                      <i class="icon icon--envelope"></i>&nbsp;Send
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="link_scroll_down">Scroll down</div>
</section>