<section class="section section_quotes section_gray inview _inview" id="quotes">
  <div class="container">
    <div class="row">
      <div class="col-md-10 automargin">

        <div class="section_header">
          <div class="section_icon"><img src="images/quotes_icn.svg" width="64" alt="features"></div>
          <div class="hint">Quotes</div>
          <div class="section_title">You will be in good company</div>
        </div>

        <div class="list_quotes row">
          <div class="list_quotes__col col-xs-6">
            <div class="quote">
              <div class="quote__bubble">
                <div class="quote__title">Good app</div>
                <div class="quote__text">I made $16,880 in the last month alone with Lykke Exchange. Now I can enjoy it!</div>
              </div>
              <div class="quote__author">
                <div class="user">
                  <div class="user__img">
                    <img src="images/user_default.svg" alt="user" width="50" height="50">
                  </div>
                  <div class="user__content">
                    <div class="user__title">Alejandra Pollich</div>
                    <div class="user__description">Financial Advisor</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="quote">
              <div class="quote__bubble">
                <div class="quote__title">Good app</div>
                <div class="quote__text">I made $16,880 in the last month alone with Lykke Exchange. Now I can enjoy it!</div>
              </div>
              <div class="quote__author">
                <div class="user">
                  <div class="user__img">
                    <img src="images/user_default.svg" alt="user" width="50" height="50">
                  </div>
                  <div class="user__content">
                    <div class="user__title">Alejandra Pollich</div>
                    <div class="user__description">Financial Advisor</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list_quotes__col col-xs-6">
            <div class="quote">
              <div class="quote__bubble">
                <div class="quote__title">Great solution for me</div>
                <div class="quote__text">You’ve made money, now enjoy it! The new Lykke Card gives you free and clear access to the funds in your Lykke Wallet. It puts all of your currencies in your hands.</div>
              </div>
              <div class="quote__author">
                <div class="user">
                  <div class="user__img">
                    <img src="images/user_default.svg" alt="user" width="50" height="50">
                  </div>
                  <div class="user__content">
                    <div class="user__title">Rene Tromp</div>
                    <div class="user__description">Marketing Manager</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="quote">
              <div class="quote__bubble">
                <div class="quote__title">Good app</div>
                <div class="quote__text">I made $16,880 in the last month alone with Lykke Exchange. Now I can enjoy it!</div>
              </div>
              <div class="quote__author">
                <div class="user">
                  <div class="user__img">
                    <img src="images/user_default.svg" alt="user" width="50" height="50">
                  </div>
                  <div class="user__content">
                    <div class="user__title">Alejandra Pollich</div>
                    <div class="user__description">Financial Advisor</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
