<section class="section section_request" id="request">
  <div class="container">

    <div class="row">
      <div class="col-sm-7 automargin">
        <div class="section_title">Learn more about how Lykke has helped <b>28,450</b> people like you trade more freely</div>

        <form class="form form_request">
          <div class="form_group">
            <input type="text" class="form-control" placeholder="Enter your email">
            <!--invalid input <input type="text" class="form-control error" placeholder="Enter your email">-->
            <!--<div class="hint hint--error">Error text</div>-->
          </div>
          <div class="form_group">
            <button class="btn btn-block btn--primary">Send me my Lykke Card</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>