@import './reset.css';
@import 'vendor/bootstrap-custom.min.css';
@import 'vendor/jquery.fancybox.css';
@import 'common/fonts';
@import 'common/icons';
@import 'common/vars';
@import 'common/functions';
@import 'common/mixins';
@import 'common/typo';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font: 400 getFontSize(regular) $font-default;
  color: getColor(dark);
  background-color: getColor(white);

  -webkit-text-size-adjust: none;
  font-size-adjust: none;

  @include fontantialias(true);
}

@import 'partials/preloader';
@import 'partials/labels';
@import 'partials/header';
@import 'partials/footer_shared';
@import 'partials/grid';
@import 'partials/sections';
@import 'partials/list';
@import 'partials/form';
@import 'partials/homepage';
@import 'partials/quotes';
@import 'partials/table';
@import 'partials/animations';
@import 'partials/modal';
@import 'vendor/slick/slick-theme';
@import 'vendor/slick/slick';
@import 'partials/cards';
@import 'partials/messages';
@import 'partials/alert';


.footer_desc {
  font-size: 14px;
  line-height: 1.43;
  text-align: left;

  &__inner {
    border-top: 1px solid #ebedef;
    padding-top: 20px;
  }

  .text-muted {
    color: rgba(getColor(secondary), .6);
  }
}