@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Regular.ttf')  format('truetype'),
  url('../fonts/ProximaNova/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg');

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-SemiBold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-SemiBold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-SemiBold.ttf')  format('truetype'),
  url('../fonts/ProximaNova/ProximaNova-SemiBold.svg#b4e5a994dc11ee6e5e3ae461614c0660') format('svg');

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Bold.ttf')  format('truetype'),
  url('../fonts/ProximaNova/ProximaNova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-Bold.eot');
  src: url('../fonts/Akrobat/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat/Akrobat-Bold.woff') format('woff'),
  url('../fonts/Akrobat/Akrobat-Bold.ttf')  format('truetype'),
  url('../fonts/Akrobat/Akrobat-Bold.svg#bff61a4db5fb15606168d32444c57f07') format('svg');

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-Regular.eot');
  src: url('../fonts/Akrobat/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat/Akrobat-Regular.woff') format('woff'),
  url('../fonts/Akrobat/Akrobat-Regular.ttf')  format('truetype'),
  url('../fonts/Akrobat/Akrobat-Regular.svg#24d9fa92277e9e6319561a1d49ff2a1b') format('svg');

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-SemiBold.eot');
  src: url('../fonts/Akrobat/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat/Akrobat-SemiBold.woff') format('woff'),
  url('../fonts/Akrobat/Akrobat-SemiBold.ttf')  format('truetype'),
  url('../fonts/Akrobat/Akrobat-SemiBold.svg#c5220bbd9082def0fe13096ef74a92bf') format('svg');

  font-style:   normal;
  font-weight:  600;
}