<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="separator"></div>
      <div class="row">
        <div class="col-md-5">
          <div class="apps apps--left">

            <div class="apps_apple">
              <a
                href="https://appsto.re/ru/Dwjvcb.i"
                class="app_link app_link--appstore"
                title="App Store"
                target="_blank"
                rel="noopener noreferrer"
                >
                <img src="images/appstore-badge.svg" width="170" alt="apps_apple">
              </a>

            </div>
            <div class="apps_google">
              <a
                href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet"
                class="app_link app_link--googleplay"
                title="Google Play"
                target="_blank"
                rel="noopener noreferrer"
                >
                <img src="images/google-play.svg" width="170" alt="apps_google">
              </a>
            </div>
          </div>

          <div class="block_subscribe">
            <h5 class="block_subscribe__title">Newsletter</h5>
            <p class="hint">Get our latest news right in your mailbox</p>

            <form class="form" id="subscribe-form">
              <div class="form-group">
                <div class="input-group">
                  <i class="icon icon--email"></i>
                  <input type="email" placeholder="E-mail address" id="subscribe-email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Wrong email format">
                </div>
                <div id="subscribe-message" class="hint" style="display:none"></div>
                <button class="btn btn-sm btn--primary btn--circle" type="button" id="subscribe-button"><i class="icon icon--arrow-right-alt"></i></button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-7">
          <div class="footer_nav">
            <div class="footer_nav__row">
              <div class="footer_nav__col">
                <menu class="nav nav--list">
                  <li class="nav__title">Services</li>
                  <li><a href="https://streams.lykke.com/" target="_blank">Lykke Streams</a></li>
                  <li><a href="https://blockchainexplorer.lykke.com/" target="_blank">Blockchain Explorer</a></li>
                </menu>
              </div>
              <div class="footer_nav__col">
                <menu class="nav nav--list">
                  <li class="nav__title">For clients</li>
                  <li><a href="https://lykke.com/city/invest" target="_blank">Invest</a></li>
                  <li><a href="https://lykke.com" target="_blank">Wallet</a></li>
                  <li><a href="https://lykke.com/exchange" target="_blank">Exchange</a></li>
                  <li><a href="https://lykke.com/b2b" target="_blank">Accelerator</a></li>
                  <li><a href="https://lykke.com/city/faq" target="_blank">FAQ</a></li>
                </menu>
              </div>
              <div class="footer_nav__col">
                <menu class="nav nav--list">
                  <li class="nav__title">About us</li>
                  <li><a href="https://lykke.com/leadership" target="_blank">Core team</a></li>
                  <li><a href="https://lykke.com/technology" target="_blank">Technology</a></li>
                  <li><a href="https://lykke.com/company/news" target="_blank">News</a></li>
                  <li><a href="https://lykke.com/city/blog" target="_blank">Blog</a></li>
                  <li><a href="https://lykke.com/media/Whitepaper_LykkeExchange.pdf" target="_blank">White Paper</a></li>
                </menu>
              </div>
              <div class="footer_nav__col">
                <menu class="nav nav--list">
                  <li class="nav__title">Get in touch</li>
                  <li><a href="https://lykke.com/contacts" target="_blank">Contacts</a></li>
                  <li><a href="mailto:support@lykke.com">Support</a></li>
                  <li><a href="https://lykke.com/city/open_positions" target="_blank">Open positions</a></li>
                  <li><a href="https://lykke.com/b2b-join" target="_blank">Join as Blockchain Accelerator</a></li>
                </menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 pull-right">
          <ul class="social social--footer_alt">
            <li><a href="https://www.facebook.com/LykkeCity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--fb_simple"></i></a></li>
            <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--tw"></i></a></li>
            <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--instagram"></i></a></li>
            <li><a href="https://www.youtube.com/c/LykkeX" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--linkedin-icn"></i></a></li>
            <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--reddit"></i></a></li>
            <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--telegram"></i></a></li>
            <li><a href="http://lykkecommunity.herokuapp.com" target="_blank" class="social__item" rel="noopener noreferrer"><i class="icon icon--slack"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-5">
          <ul class="footer_links">
            <li><span class="copy">© 2017 Lykke, Inc.</span></li>
            <li class="middot">·</li>
            <li><a href="https://lykke.com/privacy_policy" target="_blank">Privacy Policy</a></li>
            <li class="middot">·</li>
            <li><a href="https://lykke.com/terms_of_use" target="_blank">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>