<header class="header _header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header_logo _header_logo">
        <a href="#" class="_move_to">
          <img src="images/logo_white.svg" class="logo_show" width="40px" height="38px" alt="logo">
          <img src="images/logo.svg" class="logo_hide" width="40px" height="38px" alt="logo">
        </a>
      </div>

      <div class="header_right pull-right">
        <menu class="header_nav">
          <li class="header_nav__item">
            <a href="#" class="_move_to _header_link">
              <span class="hidden-xs">Username</span>
              <i class="icon icon--participate visible-xs"></i>
              <!--
                <i class="icon icon--exit visible-xs"></i>
              -->
            </a>
          </li>
        </menu>
      </div>
      <div class="header_center">
        <menu class="header_nav">
          <li class="header_nav__item">
            <a href="#about" class="_move_to _header_link">About</a>
          </li>
          <li class="header_nav__item">
            <a href="#features" class="_move_to _header_link">Features</a>
          </li>
          <li class="header_nav__item">
            <a href="#fees" class="_move_to _header_link">Fees</a>
          </li>
        </menu>
      </div>
    </div>
  </div>
</header>
