<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lykke Card</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  </head>
  <body class="page_inner">

    <%= require('html-loader?attrs=false!./partials/header.html') %>

    <article>
        <section class="section section_countries">
            <div class="container">

                <div class="section_header">
                    <a href="index.html" class="btn btn--icon btn_back"><img src="images/back_icn.svg" alt="back"></a>
                    <div class="section_icon"><img src="images/countries_icn.svg" width="72px" alt="features"></div>
                    <div class="hint">Countries</div>
                    <div class="section_title">List of eligible countries</div>
                </div>

                <h3>Europe</h3>
                <ul class="list list_countries">
                    <li class="list_item">
                        <img src="images/countries/austria_flag.png" alt="Austria" width="28" height="20">
                        <span>Austria</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/belgium_flag.png" alt="Belgium" width="28" height="20">
                        <span>Belgium</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/bulgaria_flag.png" alt="Bulgaria" width="28" height="20">
                        <span>Bulgaria</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/croatia_flag.png" alt="Croatia" width="28" height="20">
                        <span>Croatia</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/cyprus_flag.png" alt="Cyprus" width="28" height="20">
                        <span>Cyprus</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/czech_republic_flag.png" alt="Czech Republic" width="28" height="20">
                        <span>Czech Republic</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/denmark_flag.png" alt="Denmark" width="28" height="20">
                        <span>Denmark</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/estonia_flag.png" alt="Estonia" width="28" height="20">
                        <span>Estonia</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/finland_flag.png" alt="Finland" width="28" height="20">
                        <span>Finland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/france_flag.png" alt="Finland" width="28" height="20">
                        <span>France</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/germany_flag.png" alt="Germany" width="28" height="20">
                        <span>Germany</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/greece_flag.png" alt="Greece" width="28" height="20">
                        <span>Greece</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/hungary_flag.png" alt="Hungary" width="28" height="20">
                        <span>Hungary</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/Iceland_flag.png" alt="Iceland" width="28" height="20">
                        <span>Iceland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/ireland_flag.png" alt="Ireland" width="28" height="20">
                        <span>Ireland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/italy_flag.png" alt="Italy" width="28" height="20">
                        <span>Italy</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/latvia_flag.png" alt="Latvia" width="28" height="20">
                        <span>Latvia</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/liechtenstein_flag.png" alt="Liechtenstein" width="28" height="20">
                        <span>Liechtenstein</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/lithuania_flag.png" alt="Lithuania" width="28" height="20">
                        <span>Lithuania</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/luxembourg_flag.png" alt="Luxembourg" width="28" height="20">
                        <span>Luxembourg</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/malta_flag.png" alt="Malta" width="28" height="20">
                        <span>Malta</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/netherlands_flag.png" alt="Netherlands" width="28" height="20">
                        <span>Netherlands</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/norway_flag.png" alt="Norway" width="28" height="20">
                        <span>Norway</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/poland_flag.png" alt="Poland" width="28" height="20">
                        <span>Poland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/portugal_flag.png" alt="Portugal" width="28" height="20">
                        <span>Portugal</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/romania_flag.png" alt="Romania" width="28" height="20">
                        <span>Romania</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/slovakia_flag.png" alt="Slovakia" width="28" height="20">
                        <span>Slovakia</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/slovenia_flag.png" alt="Slovenia" width="28" height="20">
                        <span>Slovenia</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/spain_flag.png" alt="Spain" width="28" height="20">
                        <span>Spain</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/sweden_flag.png" alt="Sweden" width="28" height="20">
                        <span>Sweden</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/united_kingdom_flag.png" alt="United Kingdom" width="28" height="20">
                        <span>United Kingdom</span>
                    </li>
                </ul>

                <h3>Europe microstates</h3>
                <ul class="list list_countries">
                    <li class="list_item">
                        <img src="images/countries/andorra_flag.png" alt="Andorra" width="28" height="20">
                        <span>Andorra</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/monaco_flag.png" alt="Monaco" width="28" height="20">
                        <span>Monaco</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/san_marino_flag.png" alt="San Marino" width="28" height="20">
                        <span>San Marino</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/vatican_city_flag.png" alt="Vatican City" width="28" height="20">
                        <span>Vatican City</span>
                    </li>
                </ul>

                <h3>EEA overseas territories</h3>
                <ul class="list list_countries">
                    <li class="list_item">
                        <img src="images/countries/gibraltar_flag.png" alt="Gibraltar" width="28" height="20">
                        <span>Gibraltar</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/greenland_flag.png" alt="Greenland" width="28" height="20">
                        <span>Greenland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/isle_of_man_flag.png" alt="Isle of Man" width="28" height="20">
                        <span>Isle of Man</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/canary_islands_flag.png" alt="Canary Islands" width="28" height="20">
                        <span>Canary Islands</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/madeira_flag.png" alt="Madeira" width="28" height="20">
                        <span>Madeira</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/bailiwick_of_guernsey_flag.png" alt="Bailiwick of  Guernsey" width="28" height="20">
                        <span>Bailiwick of  Guernsey</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/bailiwick_of_jersey_flag.png" alt="Bailiwick of Jersey" width="28" height="20">
                        <span>Bailiwick of Jersey</span>
                    </li>
                </ul>

                <h3>Others</h3>
                <ul class="list list_countries">
                    <li class="list_item">
                        <img src="images/countries/switzerland_flag.png" alt="Switzerland" width="28" height="20">
                        <span>Switzerland</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/israel_flag.png" alt="Israel" width="28" height="20">
                        <span>Israel</span>
                    </li>
                    <li class="list_item">
                        <img src="images/countries/turkey_flag.png" alt="Turkey" width="28" height="20">
                        <span>Turkey</span>
                    </li>
                </ul>

            </div>
        </section>
    </article>

    <%= require('html-loader?attrs=false!./partials/footer.html') %>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jquery.fancybox.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
