<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lykke Card</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  </head>
  <body>
    <%= require('html-loader?attrs=false!./partials/header.html') %>

    <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/quotes.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/features.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/fees.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/request.html') %>

    <%= require('html-loader?attrs=false!./partials/footer.html') %>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jquery.fancybox.min.js"></script>
  </body>
</html>
